In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\Shraddha\Downloads\c6590d0cf119e87c39e31c21a9c0f3a8-4a8e3da267a0c1f0d650901d8295a5153bde8b21\Play_Tennis\PlayTennis.csv")

In [3]:
data.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [7]:
#Problem 1: Outlook=Sunny,Temp=Hot,Humidity=High,Wind=Weak.....Play or not play

#Solution: P(Yes/Sunny,Hot,High,Weak) = P(Sunny/Yes) * P(Hot/Yes) * P(High/Yes) * P(Weak/Yes) * P(Yes)
        #  P(No/Sunny,Hot,High,Weak)=P(Sunny/No) * P(Hot/No) * P(High/No) * P(Weak/No) *P(No)
# Compare and decide using the maximum a posteriori rule

In [8]:
#Problem 2: Outlook=Overcast,Temp=Cold,Humidity=Low,Wind=Weak.....Play or not play

#Solution: P(Yes/Overcast,Cold,Low,Weak) = P(Overcast/Yes) * P(Cold/Yes) * P(Low/Yes) * P(Weak/Yes) * P(Yes)
        #  P(No/Overcast,Cold,Low,Weak)=P(Overcast/No) * P(Cold/No) * P(Low/No) * P(Weak/No) *P(No)
# Compare and decide using the maximum a posteriori rule

In [9]:
#Training: LookUp Table(dictionary)

#Testing:

In [10]:
#P(Yes) & P(No)

data['Play Tennis'].value_counts()

Play Tennis
Yes    9
No     5
Name: count, dtype: int64

In [11]:
py = 9/14
pn = 5/14
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [13]:
#Outlook
pd.crosstab(data['Outlook'],data['Play Tennis'])

Play Tennis  No  Yes
Outlook
Overcast      0    4
Rain          2    3
Sunny         3    2

In [15]:
pon = 0
prn = 2/5
psn = 3/5

poy = 4/9
pry = 4/9
psy = 2/9

In [16]:
#Temperature
pd.crosstab(data['Temperature'],data['Play Tennis'])

Play Tennis  No  Yes
Temperature
Cool          1    3
Hot           2    2
Mild          2    4

In [17]:
PCoolNo = 1/5
PHotNo = 2/5
PMildNo = 2/5

PCoolYes = 3/9
PHotYes = 2/9
PMildYes = 4/9

In [18]:
#Humidity
pd.crosstab(data['Humidity'],data['Play Tennis'])

Play Tennis  No  Yes
Humidity
High          4    3
Normal        1    6

In [19]:
PHighNo = 4/5
PNormalNo = 1/5

PHighYes = 3/9
PnormalYes = 6/9

In [20]:
#Wind
pd.crosstab(data['Wind'],data['Play Tennis'])

Play Tennis  No  Yes
Wind
Strong        3    3
Weak          2    6

In [24]:
PStrongNo = 3/5
PWeakNo = 2/5

PStrongYes = 3/9
PWeakYes = 6/9

In [25]:
#problem 1
Pyes = py*psy*PHotYes*PHighYes*PWeakYes
print(Pyes)

0.007054673721340388

In [27]:
Pno = pn*psn*PHotNo*PHighNo*PWeakNo
print(Pno)

0.02742857142857143

In [28]:
# No Play